
{% extends 'base.html' %}
{% from 'folium_macro.html' import map_macro with context %}


{% block content %}

<!-- ADSECTION NOTAMS -->
<div class="item">
    <div class="item-title">Notifications</div>
    <div class="item-container">
        <div class='item-container--left'>
            <div class="accordion" id="accordionPanels">
                {%set ns = namespace() %}
                {%set ns.iterator = 0 %}
                {%set ns.detail = '' %}
                {%set ns.m = None %}
                {%set ns.previous_radius = 0 %}
                {%set ns.group = map_library.FeatureGroup("Notams") %}
                {%for notam in notam_list%}
                    {%set coordinates_string = notam.get('Coordinates')%}
                    {%set start = 0%}
                    {%set end = 1000%}
                    {%set north_string_pos = coordinates_string.index('N', start, end)%}
                    {%set west_string_pos = coordinates_string.index('W', start, end)%}


                    {%set latitude = coordinates_string[start:north_string_pos]|int /100%}
                    {%set longitude = coordinates_string[(north_string_pos+1):west_string_pos]|int /100%}
                    {% if ns.iterator == 0 %}
                        {%set ns.m = map_library.Map((apt_coordinates[0], apt_coordinates[1]), zoom_start=10, crs='EPSG3857', prefer_canvas=True,control_scale=True)%}

                        {%set custom_icon=plugins.BeautifyIcon(icon="arrow-down", icon_size=[40,40], icon_shape="marker", number=notam_len, border_color= "black",fill_opacity=0.2, background_color="#0000ff2e",width=40,height=40,inner_icon_style="padding:0; width:40px; height:40px; font-size:large;border-width:1px;", border_width=1 )%}
                        {%set ns.detail = notam.get('ItemE') %}
                        {%set html="""<div>""" + apt_code + """ - <b>""" + notam_len|string + """ notams</b></div>"""%}

                        {%set iframe = map_library.IFrame(html=html, width=170, height=40)%}
                        {%set costum_popup = map_library.Popup(iframe, max_width=650)%}
                        {%set k = map_library.Marker((apt_coordinates[0], apt_coordinates[1]),popup=costum_popup, icon=custom_icon).add_to(ns.m) %}
                    {% endif %}

                    {%set custom_icon=plugins.BeautifyIcon(icon="arrow-down", icon_size=[20,20], icon_shape="marker", number=ns.iterator|int + 1, border_color= "black",fill_opacity=0.2, background_color="#0000ff2e",width=40,height=40,inner_icon_style="padding:0; width:40px; height:40px; font-size:large;border-width:1px;", border_width=1 )%}
                    {%set ns.detail = notam.get('ItemE') %}
                    {%set html="""<div> #""" + (ns.iterator|int + 1)|string + """ route note</b></div><div>""" + notam.get('ItemE') + """</div>"""%}

                    {%set iframe = map_library.IFrame(html=html, width=220, height=120)%}
                    {%set costum_popup = map_library.Popup(iframe, max_width=650)%}
                    {%set ns.mark = map_library.Marker((latitude, longitude),popup=costum_popup, icon=custom_icon) %}

                    {%set x = ns.group.add_child(map_library.Marker((latitude, longitude),popup=costum_popup)) %}

                    {% if ns.previous_radius != notam.get('Radius')|int %}
                        {%set l = map_library.Circle(location=(latitude, longitude), radius=(notam.get('Radius')|int * miles_conversion), weight=1, fill_opacity=0.1, opacity=1, fill_color="green", fill=False ).add_to(ns.m) %}
                        {%set ns.previous_radius = notam.get('Radius')|int %}
                    {% endif %}

                    {%set ns.iterator = ((ns.iterator|int + 1)|int) *1 %}
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="panelsStayOpen-heading{{ns.iterator}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ns.iterator}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{ns.iterator}}">
                            NOTAM #{{ns.iterator}}
                            </button>
                        </h5>
                        <div id="panelsStayOpen-collapse{{ns.iterator}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ns.iterator}}">
                            <div class="accordion-body {{ loop.cycle('accordion-body--even', 'accordion-body--odd') }}">
                                <div class="notam-details">
                                    <div class="item-detail">
                                        <div>{{ notam.get('ItemE') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Coordinates:</div> 
                                        <div>{{latitude}}&deg; North  {{longitude}}&deg; West</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Radius:</div>
                                        <div>{{ notam.get('Radius') }} nautical mile(s)</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Type:</div> 
                                        <div>{{ notam.get('Type') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Start:</div> 
                                        <div>{{ datetime_formatter.strptime(notam.get('StartValidity'),'%y%m%d%H%M') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">End:</div>
                                        {% if notam.get('EndValidity') != 'PERM' %}
                                            <div>{{ datetime_formatter.strptime(notam.get('EndValidity'),'%y%m%d%H%M') }}</div>
                                        {% else %}
                                            <div>{{ notam.get('EndValidity') }}</div>
                                        {% endif %}
                                    </div>

                                    <div class="item-detail">
                                        <div class="item-detail--header">Code23:</div>
                                        <div>{{ notam.get('QLine')['Code23'] }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Code45:</div>
                                        <div>{{ notam.get('QLine')['Code45']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Traffic:</div>
                                        <div>{{ notam.get('QLine')['Traffic']  }}</div>
                                    </div>

                                    <div class="item-detail">
                                        <div class="item-detail--header">Purpose:</div>
                                        <div>{{ notam.get('QLine')['Purpose']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Scope:</div>
                                        <div>{{ notam.get('QLine')['Scope']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">From flight level:</div>
                                        <div>{{ notam.get('QLine')['Lower']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Up to flight level:</div>
                                        <div>{{ notam.get('QLine')['Upper']  }}</div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
        {% if ns.iterator >= notam_len %}
            {%set u =(ns.m).add_child(ns.group) %}
            {{ map_macro(ns.m) | safe }}
        {% endif %}
    </div>
    <!-- <div class="item-counter">item {{ns.iterator | safe }} of {{notam_len}}</div> -->
</div>
<!-- END OF ADSECTION NOTAMS -->

<!-- WARNINGS NOTAMS -->
<div class="item">
    <div class="item-title">Warnings</div>
    <div class="item-container">
        <div class='item-container--left'>
            <div class="accordion" id="accordionPanels">
                {%set ns = namespace() %}
                {%set ns.iterator = 0 %}
                {%set ns.detail = '' %}
                {%set ns.m = None %}
                {%set ns.previous_radius = 0 %}
                {%set ns.mark = None %}
                {%for notam in warning_list%}
                    {%set coordinates_string = notam.get('Coordinates')%}
                    {%set start = 0%}
                    {%set end = 1000%}
                    {%set north_string_pos = coordinates_string.index('N', start, end)%}

                    {% if 'W' in coordinates_string %}
                        {%set west_string_pos = coordinates_string.index('W', start, end)%}
                    {% elif 'E' in coordinates_string  %}
                        {%set west_string_pos = coordinates_string.index('E', start, end)%}
                    {% endif %}

                    {%set latitude = coordinates_string[start:north_string_pos]|int /100%}
                    {%set longitude = coordinates_string[(north_string_pos+1):west_string_pos]|int /100%}

                    {% if ns.iterator == 0 %}
                        {%set ns.m = map_library.Map((latitude, longitude), zoom_start=6, crs='EPSG3857', prefer_canvas=True,control_scale=True)%}
                    {% endif %}

                    {%set custom_icon=plugins.BeautifyIcon(icon="arrow-down", icon_size=[40,40], icon_shape="marker", number=ns.iterator|int + 1, border_color= "black",fill_opacity=0.2, background_color="#0000ff2e",width=40,height=40,inner_icon_style="padding:0; width:40px; height:40px; font-size:large;border-width:1px;", border_width=1 )%}
                    {%set ns.detail = notam.get('ItemE') %}
                    {%set html="""<div> #""" + (ns.iterator|int + 1)|string + """ warning</b></div>"""%}

                    {%set iframe = map_library.IFrame(html=html, width=170, height=40)%}
                    {%set costum_popup = map_library.Popup(iframe, max_width=650)%}
                    {%set ns.mark = map_library.Marker((latitude, longitude),popup=costum_popup, icon=custom_icon).add_to(ns.m) %}
                    

                    {% if ns.previous_radius != notam.get('Radius')|int %}
                        {%set l = map_library.Circle(location=(latitude, longitude), radius=(notam.get('Radius')|int * miles_conversion), weight=1, fill_opacity=0.1, opacity=1, fill_color="green", fill=False ).add_to(ns.m) %}
                        {%set ns.previous_radius = notam.get('Radius')|int %}
                    {% endif %}

                    {%set ns.iterator = ((ns.iterator|int + 1)|int) *1 %}
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="panelsStayOpenWarning-heading{{ns.iterator}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpenWarning-collapse{{ns.iterator}}" aria-expanded="true" aria-controls="panelsStayOpenWarning-collapse{{ns.iterator}}">
                            Warning #{{ns.iterator}}
                            </button>
                        </h5>
                        <div id="panelsStayOpenWarning-collapse{{ns.iterator}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpenWarning-heading{{ns.iterator}}">
                            <div class="accordion-body {{ loop.cycle('accordion-body--even', 'accordion-body--odd') }}">
                                <div class="notam-details">
                                    <div class="item-detail">
                                        <div>{{ notam.get('ItemE') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Coordinates:</div> 
                                        <div>{{latitude}}&deg; North  {{longitude}}&deg;{% if 'W' in coordinates_string %} West {% else %} East{% endif %}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Radius:</div>
                                        <div>{{ notam.get('Radius') }} nautical mile(s)</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Type:</div> 
                                        <div>{{ notam.get('Type') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Start:</div> 
                                        <div>{{ datetime_formatter.strptime(notam.get('StartValidity'),'%y%m%d%H%M') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">End:</div>
                                        {% if notam.get('EndValidity') != 'PERM' %}
                                            <div>{{ datetime_formatter.strptime(notam.get('EndValidity'),'%y%m%d%H%M') }}</div>
                                        {% else %}
                                            <div>{{ notam.get('EndValidity') }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">ItemD:</div> 
                                        <div>{{ notam.get('ItemD') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">ItemF:</div> 
                                        <div>{{ notam.get('ItemF') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">ItemG:</div> 
                                        <div>{{ notam.get('ItemG') }}</div>
                                    </div>

                                    <div class="item-detail">
                                        <div class="item-detail--header">Code23:</div>
                                        <div>{{ notam.get('QLine')['Code23'] }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Code45:</div>
                                        <div>{{ notam.get('QLine')['Code45']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Traffic:</div>
                                        <div>{{ notam.get('QLine')['Traffic']  }}</div>
                                    </div>

                                    <div class="item-detail">
                                        <div class="item-detail--header">Purpose:</div>
                                        <div>{{ notam.get('QLine')['Purpose']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Scope:</div>
                                        <div>{{ notam.get('QLine')['Scope']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">From flight level:</div>
                                        <div>{{ notam.get('QLine')['Lower']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Up to flight level:</div>
                                        <div>{{ notam.get('QLine')['Upper']  }}</div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
        {% if ns.iterator >= warning_len %}
            {{ map_macro(ns.m) | safe }}
        {% endif %}
    </div>
</div>
<!-- END OF WARNINGS NOTAMS -->

<!-- EN-ROUTE NOTAMS -->
<div class="item">
    <div class="item-title">Route notifications</div>
    <div class="item-container">
        <div class='item-container--left'>
            <div class="accordion" id="accordionPanels">
                {%set ns = namespace() %}
                {%set ns.iterator = 0 %}
                {%set ns.detail = '' %}
                {%set ns.m = None %}
                {%set ns.previous_radius = 0 %}
                {%set ns.mark = None %}
                {%set ns.group = map_library.FeatureGroup("Locations") %}
                {%for notam in enroute_list%}
                    {%set coordinates_string = notam.get('Coordinates')%}
                    {%set start = 0%}
                    {%set end = 1000%}
                    {%set north_string_pos = coordinates_string.index('N', start, end)%}

                    {% if 'W' in coordinates_string %}
                        {%set west_string_pos = coordinates_string.index('W', start, end)%}
                    {% elif 'E' in coordinates_string  %}
                        {%set west_string_pos = coordinates_string.index('E', start, end)%}
                    {% endif %}

                    {%set latitude = coordinates_string[start:north_string_pos]|int /100%}
                    {%set longitude = coordinates_string[(north_string_pos+1):west_string_pos]|int /100%}
                    
                    {% if ns.iterator == 0 %}
                        {%set ns.m = map_library.Map((latitude, longitude), zoom_start=6, crs='EPSG3857', prefer_canvas=True,control_scale=True)%}
                    {% endif %}

                    {%set custom_icon=plugins.BeautifyIcon(icon="arrow-down", icon_size=[20,20], icon_shape="marker", number=ns.iterator|int + 1, border_color= "black",fill_opacity=0.2, background_color="#0000ff2e",width=40,height=40,inner_icon_style="padding:0; width:40px; height:40px; font-size:large;border-width:1px;", border_width=1 )%}
                    {%set ns.detail = notam.get('ItemE') %}
                    {%set html="""<div> #""" + (ns.iterator|int + 1)|string + """ route note</b></div><div>""" + notam.get('ItemE') + """</div>"""%}

                    {%set iframe = map_library.IFrame(html=html, width=220, height=120)%}
                    {%set costum_popup = map_library.Popup(iframe, max_width=650)%}
                    {%set ns.mark = map_library.Marker((latitude, longitude),popup=costum_popup, icon=custom_icon) %}

                    {% if ns.iterator != enroute_len %}
                        {%set x = ns.group.add_child(map_library.Marker((latitude, longitude),popup=costum_popup)) %}
                    {% endif %}


                    {%set l = map_library.Circle(location=(latitude, longitude), radius=(notam.get('Radius')|int * miles_conversion), weight=1, fill_opacity=0.1, opacity=1, fill_color="green", fill=False ).add_to(ns.m) %}
                    {%set ns.previous_radius = notam.get('Radius')|int %}


                    {%set ns.iterator = ((ns.iterator|int + 1)|int) *1 %}
                    <div class="accordion-item">
                        <h5 class="accordion-header" id="panelsStayOpenRoute-heading{{ns.iterator}}">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpenRoute-collapse{{ns.iterator}}" aria-expanded="true" aria-controls="panelsStayOpenRoute-collapse{{ns.iterator}}">
                            Route notifications #{{ns.iterator}}
                            </button>
                        </h5>
                        <div id="panelsStayOpenRoute-collapse{{ns.iterator}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpenRoute-heading{{ns.iterator}}">
                            <div class="accordion-body {{ loop.cycle('accordion-body--even', 'accordion-body--odd') }}">
                                <div class="notam-details">
                                    <div class="item-detail">
                                        <div>{{ notam.get('ItemE') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Coordinates:</div> 
                                        <div>{{latitude}}&deg; North  {{longitude}}&deg;{% if 'W' in coordinates_string %} West {% else %} East{% endif %}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Radius:</div>
                                        <div>{{ notam.get('Radius') }} nautical mile(s)</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Type:</div> 
                                        <div>{{ notam.get('Type') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Start:</div> 
                                        <div>{{ datetime_formatter.strptime(notam.get('StartValidity'),'%y%m%d%H%M') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">End:</div>
                                        {% if notam.get('EndValidity') != 'PERM' %}
                                            <div>{{ datetime_formatter.strptime(notam.get('EndValidity'),'%y%m%d%H%M') }}</div>
                                        {% else %}
                                            <div>{{ notam.get('EndValidity') }}</div>
                                        {% endif %}
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">ItemD:</div> 
                                        <div>{{ notam.get('ItemD') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">ItemF:</div> 
                                        <div>{{ notam.get('ItemF') }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">ItemG:</div> 
                                        <div>{{ notam.get('ItemG') }}</div>
                                    </div>

                                    <div class="item-detail">
                                        <div class="item-detail--header">Code23:</div>
                                        <div>{{ notam.get('QLine')['Code23'] }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Code45:</div>
                                        <div>{{ notam.get('QLine')['Code45']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Traffic:</div>
                                        <div>{{ notam.get('QLine')['Traffic']  }}</div>
                                    </div>

                                    <div class="item-detail">
                                        <div class="item-detail--header">Purpose:</div>
                                        <div>{{ notam.get('QLine')['Purpose']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Scope:</div>
                                        <div>{{ notam.get('QLine')['Scope']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">From flight level:</div>
                                        <div>{{ notam.get('QLine')['Lower']  }}</div>
                                    </div>
                                    <div class="item-detail">
                                        <div class="item-detail--header">Up to flight level:</div>
                                        <div>{{ notam.get('QLine')['Upper']  }}</div>
                                    </div>                    
                                </div>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            </div>
        </div>
        {% if ns.iterator >= enroute_len %}
            {%set u =(ns.m).add_child(ns.group) %}
            {{ map_macro(ns.m) | safe }}
        {% endif %}
    </div>
</div>
<!-- END OF EN-ROUTE NOTAMS -->

{% endblock %}
